.main_container{
    margin: 20px 5%;
    display: flex;
    justify-content: space-between;
}
.profile_section{
    flex: 1;
    margin: 5px 15px;
}
.carreer_section{
    flex: 2;
    margin: 5px 15px;
}

@media only screen and (max-width: 650px){
    .main_container {
        flex-direction: column;
        margin: 20px 2%;
        align-items: center;
    }
    .profile_section{
        flex: 1;
    }
    .carreer_section{
        flex: 1;
    }
}
.mycard {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 20px;
    border-radius: 2px;
}
.mycard__header {
    background-color: #003d5b;
    color: white;
    height: 60px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
}
.mycard__header h2{
    font-size: 22px;
    margin: 0;
}

/* PROFILE CARD */
.profile_card img{
    width: 100%;
}

.profile_card__info{
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.profile_card__info--name{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.profile_card__info--label{
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}
.profile_card__info--location{
    font-size: 14px;
    text-align: center;
}

.profile-card__social{
    padding: 15px;
}
.profile-card__social ul{
    display: flex;
    list-style: none;
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.profile-card__social li{
    margin: 5px 8px;
}
.profile-card__social a{
    text-decoration: none;
    font-size: 30px;
    transition: font-size 300ms;
}
.profile-card__social a:hover{
    font-size: 45px;
}
.profile-card__social--icon-github{
    color: black;  
}
.profile-card__social--icon-twitter{
    color: #1DA1F2;
}

/* TWITTER CARD */
.twitter-card{
    padding: 20px;
}

/* SKILLS CARD */
.skills-card__skills{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.skills-card__skills--element{
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #F7F7F7;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.download-section {
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.download-button {
    background-color: #003d5b;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.download-button:hover {
    background-color: rgba(0,61,91,0.9);
}

.about-card__text {
    text-align: justify;
    padding: 20px;
}

.about-card__text em{
    font-weight: bold;
}

/* PROJECTS-CARD */
.projects-card__slideshow{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.projects-card__project{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: all 400ms;
}
.projects-card__project:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.projects-card__project img{
    width: 100%;
}
.projects-card__project h3{
    font-size: 18px;
    background-color: #F7F7F7;
    height: 40px;
    margin: 0;
    text-align: center;
    padding-top: 10px;
}
    
